body{
    margin: 0;
    padding: 0;
}

#cat-section{
    display: flex;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin: 25px;
}

nav{
    display: flex;
    align-items: center;
}

nav h1{
    flex: 1;
}

#section-one{
    background-color: #1f2937;
    padding: 0;
    margin: 0;
}

#section-two{

}

#section-two h1{
    text-align: center;
}
   #four-cat-container div{
    width: 200px;
    margin: 25px;
    text-align: center;
   }
   
   #four-cat-container{
       display: flex;
       justify-content: center
   }
   
